	body{
	/*background-image: url('img/lib5.jpg');*/
	background-repeat: no-repeat;
	background-size: 100%;
}
.logheader{
	color: #f2f2f2;
	font-weight: bold;
	font-size: 2.0em;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-top: 7%;
	margin-left: 43%;
}
.log-container{
	color: #f2f2f2;
	/*background: url('img/trans.png') repeat;*/
	font-weight: bold;
	font-size: 1.2em;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-left: 38%;
	width: 360px;
	height: 320px;
	margin-top: 2%;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
}
.ad{
	margin-left: 5%;
	width: 300px;
	border: 1px solid;
	border-radius: 5px;
	height: 25px;
	border-color: #fff;
}
.adLog-btn{
	color: #fff;
	font-weight: 700;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.8em;
	background-color: #00cc99;
	border: 1px solid;
	border-color: #00cc99;
	margin-top: 3%;
	margin-left: 80%;
	width: 70px;
	height: 30px;
	border-radius: 5px;
}
.adLog-btn:hover{
	cursor: pointer;
	background-color: #fff;
	color: #00cc99;
}